@charset "ISO-8859-1";

table{
	width:60%;
	border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th{
	background-color:#606060;
	color:white;
}
 tr {
    background-color: paleturquoise;
    color: black;
    text-align: left;
}

th,td{
    padding: 12px 15px;
}

 tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
 tr:last-of-type {
    border-bottom: 2px solid #009879;
}


/*table,td,th {
	border:1px solid black;
	padding: 9 px;
}
th{
	background-color:white;
	color:black;
}
table{
	width:100%;
	border-collapse:collapse;
	border-spacing:1px;
}
tr:nth-child(even){background-color:cyan}
tr:nth-child(odd){background-color:lightcyan}
*/